<!DOCTYPE html>
<html lang="<%=config.language%>">
<!--Head-->
<%- partial('partials/head') %>
<!--header_bar-->
<%- fragment_cache('headerbar', function(){
  return partial('partials/headerbar');
}) %>
<!--Header-->
<%- partial('partials/header',{cache: true})%>
<body>
  <div class="mdui-center" id="content-inner" style="width:95%; max-width:700pt;">
    <%- body %>
  </div>
  <!--footer-->
  <%- fragment_cache('footer', function(){
    return partial('partials/footer');
  }) %>
</body>
<!--goTop-->
<%- fragment_cache('gotop', function(){
  return partial('partials/gotop');
}) %>
</html>