<!DOCTYPE html>
<html lang="<%=config.language%>">
<!--Head-->
<%- partial('partials/head') %>
<!--header_bar-->
<%- fragment_cache('headerbar', function(){
  return partial('partials/headerbar');
}) %>
<!--Header-->
<%- partial('partials/header',{cache: true})%>

<div class="mdui-center article-section" id="content-inner">
  <%- body %>

  <!--footer-->
  <%- fragment_cache('footer', function(){
    return partial('partials/footer');
  }) %>
</div>

<!--goTop-->
<%- fragment_cache('gotop', function(){
  return partial('partials/gotop');
}) %>
</html>