<!DOCTYPE html>
<html lang="<%=config.language%>">
<!--Head-->
<%- fragment_cache('head', function(){
  return partial('partials/head');
}) %>
<!--header_bar-->
<%- fragment_cache('headerbar', function(){
  return partial('partials/headerbar');
}) %>
<!--Header-->
<%- partial('partials/header',{cache: true})%>
<body>
  <div class="mdui-center" id="content-inner">
    <%- body %>
  </div>
</body>
<!--goTop-->
<%- fragment_cache('gotop', function(){
  return partial('partials/gotop');
}) %>
<!--footer-->
<%- fragment_cache('footer', function(){
  return partial('partials/footer');
}) %>
</html>