<!--博文详细内容-->
<div class="">
  <%- css('css/post.css')%>

  <div class="article article-bg mdui-center mdui-shadow-2">
    <div class="article-info">
      <%- page.content%>
      <%- partial('partials/reward') %>
    </div>
  </div>

  <%- partial('partials/talk') %>
  <!-- <aside id="sidebar" class="mdui-shadow-2 mdui-hoverable">
    <div class="widget">
      <h3 class="title">目录</h3>
      <%- toc(page.content, {
        class: 'post-toc',
        list_number: false
      }) %> 
    </div>
  </aside> -->
</div>
