<!--博文详细内容-->
<div class="">
  <%- css('css/post.css')%>

  <div class="article article-bg mdui-center">
    <div class="article-info">
      <!--文章内容广告-->
      <% if(theme.SEO.GoogleAd==true){ %>
        <%- partial('partials/ad/article.ejs') %>
      <% } %>
      
      <div>
      <%- page.content%>
    </div>
      <%- partial('partials/reward') %>
    </div>
  </div>

  <%- partial('partials/talk') %>
  <!-- <aside id="sidebar" class="mdui-shadow-2 mdui-hoverable">
    <div class="widget">
      <h3 class="title">目录</h3>
      <%- toc(page.content, {
        class: 'post-toc',
        list_number: false
      }) %> 
    </div>
  </aside> -->
</div>
