<% 
    var item_img = item.img;
    var title = page.title;
    if(item_img){
        item_img = item.img;
    }else{
        item_img = theme.no_img;
    }
%>

<div id="post-item" class="mdui-shadow-2 mdui-center mdui-ripple mdui-hoverable">
    <div class="mdui-card-media">
        <img class="post-item-img" data-funlazy="<%- item_img %>" width="100" height="50">
        <div class="mdui-card-media-covered mdui-card-media-covered-gradient">
            <div class="mdui-card-primary">
                <div class="title_font float_left mdui-card-primary-title">
                    <%- item.title %>
                </div>
            </div>
        </div>
    </div>
    <div class="mdui-card-actions">
        <% if(item.description){ %>
            <p id="summary" style="text-align:left;">
                <%- item.description %>
            </p>
        <%}%>
        <div class="mdui-divider"></div>
        <span class="info">
        <i class="mdui-icon material-icons">&#xe923;</i>
        <%- item.date.format("YYYY-MM-DD") %>
        <% if(item.updatetime){ %>
            <i class="mdui-icon material-icons">&#xe3c9;</i>
            <%- date(item.updatetime) %>
        <%}%>
    </span>
        <a class="info mdui-text-color-pink " href="<%- url_for(item.path) %>" style="float:right;">去围观</a>
    </div>
</div>          