<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="google-site-verification" content="GZh2jRE6IgVXx8SYpoRZYwcs4_Wy7vWEAeSIHCs3UE8"/>
    <meta name="baidu-site-verification" content="5EmnBCPDrY" />
    <title><%= config.title %></title>
    <!--一言-->
    <script src="https://v1.hitokoto.cn/?encode=js&select=%23hitokoto" defer></script>
    <!--mdui-->
    <%- css('//cdnjs.loli.net/ajax/libs/mdui/0.4.2/css/mdui.min.css') %>
    <%- js('//cdnjs.loli.net/ajax/libs/mdui/0.4.2/js/mdui.min.js') %>
    <!--jquery-->
    <%- js('https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js') %>
    <!--theme-->
    <%- css('css/mdm.css')%>
    <%- css('css/mdm_theme_dark.css')%>
    <%- js('js/mdm.js') %>
    
    <!--高亮-->
    <%- css('css/solarized-light.css')%>
    <!--全局变灰-->
    <% if(theme.SEO.GreyMode == true) { %>
        <%- css('css/grey.css')%>
    <% } %>

    <!--本地搜索-->
    <!-- <script src="js/search.js"></script> -->
    <!--自动提交给百度-->
    <% if(theme.SEO.BaiduAutoPush == true){ %>
    <script>
        (function(){
            var bp = document.createElement('script');
            var curProtocol = window.location.protocol.split(':')[0];
            if (curProtocol === 'https') {
                bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
            }
            else {
                bp.src = 'http://push.zhanzhang.baidu.com/push.js';
            }
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(bp, s);
        })();
    </script>
    <% } %>

    <!---google ad config-->
    <% if(theme.SEO.GoogleAd==true){ %>
        <script data-ad-client="ca-pub-8181303774570877" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <% } %>
</head>