<div class="mdui-appbar mdui-shadow-0" id="bar">
    <div class="mdui-toolbar mdui-text-color-white">
        <a class="mdui-btn mdui-btn-icon mdui-hidden-sm-up" mdui-menu="{target: '#example-2'}">
            <i class="mdui-icon material-icons">menu</i>
        </a>
        <ul class="mdui-menu" id="example-2">
        <% Object.keys(theme.menu).forEach(key => { %>
            <li class="mdui-menu-item">
            <a href="<%=theme.menu[key]%>" class="mdui-ripple">
                    <i class="mdui-menu-item-icon mdui-icon material-icons"><%= theme.Icon[key]%></i>
                <%=key%>
            </a>
            </li>
            <li class="mdui-divider"></li>
        <% }); %>
        </ul>
        <!--大屏-->
        <% Object.keys(theme.menu).forEach(key => { %>
        <a href="<%=theme.menu[key]%>"
            class="mdui-typo-title mdui-ripple mdui-ripple-white mdui-hidden-xs">
            <%=key%>
        </a>
        <% }); %>
        <div class="mdui-toolbar-spacer"></div>
        <!--
        <div class="mdui-textfield mdui-textfield-expandable" style="max-width:500px;margin-right: -10px;">
            <button class="mdui-textfield-icon mdui-btn mdui-btn-icon">
                <i class="mdui-icon material-icons">search</i>
            </button>
            <input class="mdui-textfield-input mdui-text-color-white" id="local-search-input" type="text" placeholder="输入搜索内容..."/>
            <button class="mdui-textfield-close mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">close</i></button>
        </div>-->

        <button onclick="themeChange()"
                class="mdui-btn mdui-btn-icon mdui-ripple mdui-text-color-white" 
                mdui-tooltip="{content: '切换亮/暗色模式'}">
            <i class="mdui-icon material-icons" id="themeIcon">brightness_7</i>
        </button>
        <button onclick="location.reload()" class="mdui-btn mdui-btn-icon mdui-ripple">
            <i class="mdui-icon material-icons">refresh</i>
        </button>
    </div>
</div>