<div class="mdui-appbar mdui-appbar-fixed mdui-appbar-scroll-hide">
    <div class="mdui-toolbar mdui-color-indigo">  
        <a class="mdui-btn mdui-btn-icon mdui-hidden-sm-up" mdui-menu="{target: '#example-2'}">
            <i class="mdui-icon material-icons">menu</i>
        </a>
        <ul class="mdui-menu" id="example-2">
            <% Object.keys(theme.menu).forEach(key => { %>
                <li class="mdui-menu-item">
                <a href="<%=theme.menu[key].url%>" class="mdui-ripple">
                    <i class="mdui-menu-item-icon mdui-icon material-icons"><%= theme.menu[key].icon%></i>
                    <%= theme.menu[key].text%>
                </a>
                </li>
                <li class="mdui-divider"></li>
            <% }); %>
        </ul>
        <!--大屏-->
        <% Object.keys(theme.menu).forEach(key => { %>
            <a href="<%=theme.menu[key].url%>" class="mdui-typo-title mdui-ripple mdui-ripple-white mdui-hidden-xs">
                <%=theme.menu[key].text%>
            </a>
        <% }); %>
        <div class="mdui-toolbar-spacer"></div>

        <a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">search</i></a>

        <!--分享-->
        <% if(theme.share.enable){ %>
        <button class="mdui-btn mdui-btn-icon" mdui-menu="{target: '#share_menu'}">
            <i class="mdui-icon material-icons">share</i>
        </button>
        
        <ul class="mdui-menu" id="share_menu">
            <% if(theme.share.facebook === true) { %>
                <li class="mdui-menu-item">
                    <a href="https://www.facebook.com/sharer/sharer.php?u=<%= config.url + config.root + url_for(path) %>" target="_blank" class="mdui-ripple">
                        facebook
                    </a>
                </li>
            <% } %>
            
            <% if(theme.share.qq === true) { %>
                <li class="mdui-menu-item">
                    <a href="http://connect.qq.com/widget/shareqq/index.html?site=<%= config.title %>&title=<%= page.title %>&summary=<%= config.description %>&pics=<%- config.url + theme.favicon %>&url=<%- config.url +  url_for(path) %>" target="_blank" class="mdui-ripple">
                        QQ
                    </a>
                </li>
            <% } %>

            <% if(theme.share.twitter === true) { %>
                <li class="mdui-menu-item">
                    <a href="https://twitter.com/intent/tweet?text=<%= page.title %>&url=<%= config.url + config.root + url_for(path) %>&via=<%= config.author %>" target="_blank" class="mdui-ripple">
                        twitter
                    </a>
                </li>
            <% } %>
        
            <% if(theme.share.weibo === true) { %>
                <li class="mdui-menu-item">
                    <a href="http://service.weibo.com/share.php?appkey=&title=<%= page.title %>&url=<%= config.url + config.root + url_for(path) %>&pic=&searchPic=false&style=simple" target="_blank" class="mdui-ripple">
                        weibo
                    </a>
                </li>
            <% } %>

            <% if(theme.share.telegram === true) { %>
                <li class="mdui-menu-item">
                    <a href="https://telegram.me/share/url?url=<%- config.url + config.root + url_for(path) %>&text=<%= page.title %>" target="_blank" class="mdui-ripple">
                        telegram
                    </a>
                </li>
            <% } %>

            <% if(theme.share.googleplus === true) { %>
                <li class="mdui-menu-item">
                    <a href="https://plus.google.com/share?url=<%= config.url + config.root + url_for(path) %>" target="_blank" class="mdui-ripple">
                        googleplus
                    </a>
                </li>
              <% } %>
        
              <% if(theme.share.linkedin === true) { %>
                <li class="mdui-menu-item">
                    <a href="https://www.linkedin.com/shareArticle?mini=true&url=<%- config.url + config.root + url_for(path) %>&title=<%= page.title %>" target="_blank" class="mdui-ripple">
                        linkedin
                    </a>
                </li>
              <% } %>
            </ul>
        <%}%>
        
        <button onclick="themeChange()"
            class="mdui-btn mdui-btn-icon mdui-ripple mdui-text-color-white" 
            mdui-tooltip="{content: '切换亮/暗色模式'}">
            <i class="mdui-icon material-icons" id="themeIcon">brightness_7</i>
        </button>
        <a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">more_vert</i></a>
    </div>
  </div>